/* ==== Elements ==== */

body {
	font-family: Arial, sans serif;
	background: lightgray;
	margin: 0;
	
}

h1 {
	text-align: center;
	background: darkviolet;
	padding: 1em;
	color: white;
	margin: 0 0;
	box-shadow: 1px 1px 1px 1px black;
}

h2 {
	text-align: center;
	margin-bottom: 0.2em;
}

button {
	width: 25%;
	margin: auto;
}

/* === IDs === */

#error {
	display: inline-block;
	visibility: hidden;
	margin: 0.25em;
	height: 50px;	/* Set height to maintain .menu div shape on load */
}

/* === Classes === */

.menu {
	width: 25%;
	min-width: 300px;
	background-color: white;
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-top: 40px;
	border: 2px solid black;
	border-radius: 5px;
}

.input {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 0.75em auto;

}

.info {
	display: flex;
	flex-direction: row;
	text-align: center;
	font-size: 0.75em;
	margin: 0 auto;
}

.emptyField,
.noResults
 {
	width: 70%;
	text-align: center;
	margin-left: auto;
	margin-right: auto; /* user agent stylesheet workaround - or could use css reset */
	font-weight: bold;
}

.emptyField {
	color: red;	
}

.noResults {
	color: orange;
}

.container {
	width: 90%;
	margin: auto;
}

/* === Table elements ==== */

table {
	margin: 40px auto;
	border: 1px solid black;
	border-radius: 5px;
}

th {
	background-color: black;
	padding: 0.5em;
	color: white;
}

tbody tr{
	font-family: 'Roboto Mono', monospace;
}

tr {
	border: 1px black solid;
	border-radius: 5px;
}


tr:nth-of-type(2n+1) {
	background-color: slategray;
	color: white;
}

tr:nth-of-type(2n+2) {
	background-color: darkgray;
	color: white;
}

td {
	padding: 1em 0.5em;
	text-align: center;
}

td:hover {
	cursor: pointer;
}

/* ==== Cell Widths ==== */

.ID {
	width: 20px;
}

.name {
	min-width: 140px;
	width: fit-content;
}

.company {
	width: 80px;
}

.address {
	width: 300px;
}

.email {
	width: 180px;
}

.phone {
	width: 180px;
}

.balance {
	width: 80px;
}

.copyCell {
	width: 56px;
}

/* ==== Media Queries ==== */

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to display one cell across */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { 
		border: 1px solid #ccc; 
	}
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		text-align: center;
	}
	
}